body{
    background-color: teal;
    margin:2em;
}

button{
    position: fixed;
    top:90%;
    left: 37.5%;
	border-radius:0.5em;
    cursor: default;
    width: 25%;
    padding: 3px;
    border: solid 2px;
    height: 2.5em;
}

button:hover{
	opacity: 0.95;
    cursor:pointer;
}

.theme{
    position: fixed;
    left: 37.5%;
    border: solid 2px;
    width: 25%;
    height: 2em;
} 

input{
    border: solid 1.5px;
    border-radius: 0.5em;
    height: 1.5em;
}

input[type="radio" i] {
    position: relative;
    top: 0.4em;
}

::placeholder{
    text-align: center;
}

.question{
    width: 70%;
}
.question1, .question2,.question3, .question4,.question5, .question6,.question7, .question8{
    display: block;
    background-color: rgb(126, 204, 204);
    width: 50%;
    margin: 1em;
    padding:5px;
    width: 35%;
    text-align: center;
    border: solid 2px   ;
    border-radius: 0.5em;
}
.question1 {
    position: fixed;
    top: 5em;
    left: 5em;
}

.question2 {
    position: fixed;
    top: 5em;
    right: 5em;
}

.question3 {
    position: fixed;
    top: 13em;
    left: 5em;
}

.question4 {
    position: fixed;
    top: 13em;
    right: 5em;
}

.question5 {
    position: fixed;
    top: 24em;
    left: 5em;
}

.question6 {
    position: fixed;
    top: 24em;
    right: 5em;
}

.question7 {
    position: fixed;
    top: 32em;
    left: 5em;
}

.question8 {
    position: fixed;
    top: 32em;
    right: 5em;
}
