body  {
    background-image: url("font.png");
    background-repeat: no-repeat;
    width: 1045px;
    height: 757px;
}

form{
    background-color: chartreuse;
    background: linear-gradient(to top left, white, grey);
    border-radius: 1em;
	padding: 1em;
	margin: 0em;;
}


input{
	border-radius:0.5em;
	cursor: default;
}

button{
	background-color: white;
	border-radius: 0.5em;
	padding: 3px;
}

button:hover{
	opacity: 0.8;
	cursor:pointer;
}

.all{
	position: absolute;
	top: 30%;
    left:25%;
    padding: 15px;
	border-radius: 1em;
    /*background: linear-gradient(to bottom right, white, grey);*/
    color: white;
    background-color: black;
    text-align: center;
    width: 50%; 
}
