body  {
    background-color: teal;
}

form{
    border-radius: 1em;
    padding: 1em;
    text-shadow: 1px 1px 3px white, 0 0 0.2em black;
}

input, button{
	border-radius:0.5em;
    cursor: default;
    width: 25%;
    padding: 3px;
    background-color: rgb(126, 204, 204);
    opacity: 0.8;
    border: solid 2px;
    text-shadow: 1px 1px 3px white, 0 0 0.2em black;
}

button:hover, input:hover{
	opacity: 0.95;
    cursor:pointer;
}

.all{
    position: absolute;
    top: 37.5%;
    left: 32.5%;
    padding: 15px;
	border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color:rgb(126, 204, 204);
    text-align: center;
    width: 502px;
    height: 240px;
}

.picture{
    position: absolute;
    top: 5%;
    left: 32.5%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgb(126, 204, 204);
    border:solid 15px rgb(126, 204, 204);
    margin:0;
}