body  {
  background-image: url("font.png");
  background-repeat: no-repeat;
}

input{
	border-radius:0.5em;
	cursor: default;
}

button{
	background-color: white;
	border-radius: 0.5em;
	padding: 3px;
}

button:hover{
	opacity: 0.8;
	cursor:pointer;
}
.all{
	position: absolute;
	top: 42.5%;
	left:42.5%;
	padding: 1em;
	border-radius: 1em;
	background: linear-gradient(to bottom right, white, grey);
	text-align: center;
}